[flake8]
exclude = __init__.py,*externals*,constants.py,fixes.py,resources.py,nilearn_cache,venv,docs/auto_examples,docs/_build/,.eggs/
ignore = W503,W504,I100,I101,I201,N806,E201,E202,E221,E222,E241,F541
# We add A for the array-spacing plugin, and ignore the E ones it covers above
select = A,E,F,W,C