language: python
python:
- '3.7'
install:
- pip install -r requirements.txt
- pip install -r docs-requirements.txt
- python setup.py build
- python setup.py install
script:
- make -C docs/ html
- touch docs/_build/html/.nojekyll
deploy:
  - provider: pages
    verbose: true
    token: $GITHUB_TOKEN
    edge: true
    local_dir: ./docs/_build/html/
    keep_history: true
    on:
      branch: main